 {{ "You are about to create the following key" | bold }}
 {{ "Type:" | bold }} {{ .Type | bold | green }}
 {{ "Private:" | bold }} {{ .PrivateKey | bold | green }}
 {{ "Public:" | bold }} {{ .PublicKey | bold | green }}

