{{- define "dump" -}}
{{- range .Files -}}
  {{- topLine | faint -}}
  {{ border | faint }} File: {{ .Path | blue }}{{ newline }}
  {{- middleLine | faint }}
  {{- range .Lines -}}
    {{- border | faint }}{{ formatNumber .Number | faint }}{{ border | faint }}  {{ . -}}
  {{ end }}
  {{- bottomLine | faint -}}
  {{- end -}}
{{- end -}}